tenant        = "your F5 Distributed Cloud tenant name"
tenant_suffix = "unique id suffix of your F5 XC tenant"
namespace     = "demo-sentence"

nginx_plus_oidc_image_server = "ghcr.io"
nginx_plus_oidc_image_owner  = "<your github account>"
nginx_plus_oidc_image_name   = "nginx-oidc"
nginx_plus_oidc_image_token  = "<your github token>"

sentence_app_fqdn   = "demo-sentence.example.com"
sentence_app_region = "ves-io-dallas"

nginx_app_fqdn   = "demo-nginx-auth.example.com"
nginx_app_region = "ves-io-seattle"

azure_directory_id       = "<Azure Tenant (directory) ID>"
azure_oidc_client_id     = "<Azure Application (client) ID>"
azure_oidc_client_secret = "<Azure Client Secret Value>"
azure_oidc_hmac_key      = "window-purple-monkey-scimitar"
